.dashboard {
  width: 100%;
}

.topBar {
  background-color: rgb(95, 86, 86);
  color: white;
  height: 7vh;
  position: sticky;
  top: 0;
}

.eventBox {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2%;
  cursor: pointer;
}

.eventBox:hover {
  transform: scale(1.01);
  transition: 0.3s;
  box-shadow: 0px 0px 10px 1px rgb(184, 182, 182);
}