.login {
  height: 100vh;
}

.info {
  color: rgb(71, 69, 69);
}

.info h2 {
  font-weight: 900;
  font-family: "Trebuchet MS", sans-serif;
}

.form {
  padding: 3%;
  border-radius: 15px;
  transition: 0.2s;
  color: gray;
}

.form:hover {
  box-shadow: 0px 0px 10px 1px rgb(138, 135, 135);
}

.form input {
  width: 100%;
}

.form input:focus {
  box-shadow: 0 0 5px 2px lightblue;
  outline: none;
  border: none;
}

.form button:hover {
  background-color: rgb(10, 89, 141);
}